<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net46" />
  <package id="itext7" version="7.1.14" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net46" />
  <package id="MathNet.Numerics" version="4.12.0" targetFramework="net46" />
  <package id="MathNet.Numerics.MKL.Win" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net46" />
  <package id="MKL.NET" version="0.9.0" targetFramework="net46" />
  <package id="NLapack" version="1.0.14" targetFramework="net46" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net46" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net46" />
</packages>