<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net46" />
  <package id="MathNet.Numerics" version="4.12.0" targetFramework="net46" />
  <package id="MathNet.Numerics.MKL.Win" version="2.4.0" targetFramework="net46" />
  <package id="MKL.NET" version="0.9.0" targetFramework="net46" />
  <package id="NLapack" version="1.0.14" targetFramework="net46" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net46" />
</packages>