<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="BaseConfigurationData" type="StructureSystem.BusinessRules.Configuration.WebConfiguration, StructureSystem.BusinessRules"/>
  </configSections>
  <appSettings>
    <add key="XMLpath" value="C:\StructureSystem\"/>
    <add key="LastDocument" value=""/>
  </appSettings>
  <BaseConfigurationData>
    <Regulations>
      <add id="1" name="norma1" />
    </Regulations>
    <Groups>
      <add id="1" name="A"/>
      <add id="2" name="B"/>
    </Groups>
    <Usages>
      <add id="1" name="Habitacional"/>
      <add id="2" name="Servicios"/>
      <add id="3" name="Industria"/>
      <add id="4" name="Infraestructura o Agricola"/>
      <add id="5" name="Pecuario y forestal"/>
    </Usages>
    <Tests>
      <add id="1" name="Estático" />
      <add id="2" name="Dinámico" />
      <add id="3" name="Estático y Dinámico" />
    </Tests>
    <Materials>
      <add id="1" name="Tabique" />
      <add id="2" name="Block" />
      <add id="3" name="Concreto" />
      <add id="4" name="Acero" />
      <add id="5" name="Tabimax" />
    </Materials>
  </BaseConfigurationData>
</configuration>