<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="BaseConfigurationData" type="StructureSystem.BusinessRules.Configuration.WebConfiguration, StructureSystem.BusinessRules"/>
  </configSections>
  <appSettings>
    <add key="XMLpath" value="C:\StructureSystem\"/>
    <add key="LastDocument" value=""/>
  </appSettings>
  <BaseConfigurationData>
    <Regulations>
      <add id="1" name="NTC17" />
    </Regulations>
    <Groups>
      <add id="1" name="A"/>
      <add id="2" name="B"/>
    </Groups>
    <Usages>
      <add id="1" name="Habitacional"/>
      <add id="2" name="Servicios"/>
      <add id="3" name="Industria"/>
      <add id="4" name="Infraestructura o Agricola"/>
      <add id="5" name="Pecuario y forestal"/>
    </Usages>
    <Tests>
      <add id="1" name="Estático" />
      <add id="2" name="Dinámico" />
      <add id="3" name="Estático y Dinámico" />
    </Tests>
    <Materials>
      <add id="1" name="Tabique" Dfm="15" Dvm="2" Em="800*Dfm" Gm="0.2*Em" vm="0.25" PV="1800"/>
      <add id="2" name="Block"  Dfm="15" Dvm="2" Em="800*Dfm" Gm="0.2*Em" vm="0.25" PV="1900"/>
      <add id="3" name="Concreto" Dfm="200" Em="14000*Dfm" Gm="0.2*Em" vm="0.2" PV="2400" />
      <add id="4" name="Acero" Dfm="3515" Em="2100000" Gm="0.2*Em" PV="7850" />
      <add id="5" name="Tabimax" Dfm="60" Dvm="7" Em="37194" Gm="13458" vm="0.25" PV="859.83"/>
    </Materials>
    <FlooringMaterials>
      <add id="1" name="Losa maciza" />
      <add id="2" name="Losa nervada" />
      <add id="3" name="Vigueta y bovedilla" />
      <add id="4" name="Otra" />
    </FlooringMaterials>
  </BaseConfigurationData>
</configuration>